<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
    </style>
</head>
<body>
    
    <!-- Enrollment Form -->
    <div class="container">
        <h1>Welcome to My Website</h1>
        <a href="{% url 'logout' %}">Logout</a>
        <br>
        <br>
        <br>
        <br>
        {# Enrollment form #}
        <h1>Top 10 Courses by Enrollment</h1>
        <form action="{% url 'reports' %}" method="GET">
            {% csrf_token %}
            {{  form_enrollment }}
            <br>
            <button type="submit" value="form_enrollment" name ="form_enrollment">Submit</button>
        </form>
            <br>
            <br>
            <ul>
                {% if enrollment_data %}
                    {% for course in enrollment_data %}
                        <li>{{ course.0 }} - {{ course.1 }}</li>
                    {% endfor %}
                {% else %}
                    <li>No enrollment data available for the selected date range.</li>
                {% endif %}
            </ul>
            <br>

            {# Rating form #}
            <br>
            <h1>Top 10 Courses by rating</h1>

            <br>
    
        <form action="{% url 'reports' %}" method="GET">
            {% csrf_token %}
            {{  form_rating }}
            <br>
            <button type="submit" value="form_rating" name="form_rating">Submit</button>
        </form>
            <br>
            <br>
            <ul>
                {% if rating_data %}
                    {% for course in rating_data %}
                        <li>{{ course.0 }} - {{ course.1 }}</li>
                    {% endfor %}
                {% else %}
                    <li>No enrollment data available for the selected date range.</li>
                {% endif %}
            </ul>
            <br>

            {# User form #}
            <br>
            <h1>Top 10 Users by completed courses</h1>

            <br>
            <form action="{% url 'reports' %}" method="GET" id>
                {% csrf_token %}
                {{  form_user }}
                <br>
                <button type="submit" value="form_user" name="form_user">Submit</button>
            </form>
                <br>
                <br>
                <ul>
                    {% if user_data %}
                        {% for user in user_data %}
                            <li>{{ user.username }} - {{ user.completed_courses_count }}</li>
                        {% endfor %}
                    {% else %}
                        <li>No enrollment data available for the selected date range.</li>
                    {% endif %}
                </ul>

                {# Course form #}    
                <br>
                <br>
                <h1>Top 10 Courses by completed courses</h1>
    
                <br>
                <form action="{% url 'reports' %}" method="GET" id>
                    {% csrf_token %}
                    {{  form_course }}
                    <br>
                    <button type="submit" value="form_course" name="form_course">Submit</button>
                </form>
                    <br>
                    <br>
                    <ul>
                        {% if course_data %}
                            {% for course in course_data %}
                                <li>{{ course.course_title }} - {{ course.completed_count }}</li>
                            {% endfor %}
                        {% else %}
                            <li>No enrollment data available for the selected date range.</li>
                        {% endif %}
                    </ul>
</body>
</html>



