{% extends 'layouts/base-fullscreen.html' %}
{% load i18n static admin_soft %}

{% block content %}
    {% include 'sidebar.html' %}
    <style>
        .custom-card {
            margin-left: 120px;
        }
    </style>
    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if page_obj %}
                <div class="card shadow custom-card">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold">Available Quizzes</h4>
                    </div>
                    <div class="card-body pt-4 p-3">
                        <ul class="list-group">
                            {% for quiz in page_obj %}
                            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                <div class="d-flex flex-column">
                                    {% if quiz.url %}
                                    <a class="mb-3 text-sm" href="{{quiz.url}}" target="_blank">{{ quiz.title }}</a>
                                    {% endif %}
                                    <span class="mb-2 text-xs">Quiz Title:<span class="text-dark font-weight-bold ms-sm-2">{{ quiz.title }}</span></span>
                                    <span class="mb-2 text-xs">Quiz Complexity:<span class="text-dark font-weight-bold ms-sm-2">{{ quiz.complexity }}</span></span>
                                    <span class="mb-2 text-xs">Quiz Attempts:<span class="text-dark ms-sm-2 font-weight-bold">{{ quiz.attempts }}</span></span>
                                    <span class="mb-2 text-xs">Quiz Deadline:<span class="text-dark ms-sm-2 font-weight-bold">{{ quiz.deadline}}</span></span>
                                    <span class="mb-2 text-xs">Quiz Success_Criteria:<span class="text-dark ms-sm-2 font-weight-bold">{{ quiz.success_criteria }}</span></span>
                                </div>
                                <div class="ms-auto text-end">
                                    {% if course.is_published %}
                                    {% if request.user.is_authenticated %}
                                    {% if request.user not in course.enrolled_users.all %}
                                    <a class="btn btn-link text-danger text-gradient px-3 mb-0"
                                       href="{% url 'enroll_course' course.pk %}"><i class="far fa-trash-alt me-2"></i>Enroll</a>
                                    {% else %}
                                    <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'unenroll_course' course.pk %}"><i
                                            aria-hidden="true" class="fas fa-pencil-alt text-dark me-2"></i>Unenroll</a>
                                    {% endif %}
                                    {% else %}
                                    <a href="{% url 'login' %}">Login to Enroll</a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if quiz_results %}
                <div class="card shadow custom-card">
                    <div class="card-header">
                        <h4 class="m-0 font-weight-bold">Quiz Results</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-container">
                            <table class="table align-middle table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">Quiz Name</th>
                                        <th class="text-center">Question</th>
                                        <th class="text-center">Submitted Answer</th>
                                        <th class="text-center">Is Correct?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for quiz_result in quiz_results %}
                                    <tr>
                                        <td>{{ quiz_result.quiz.name }}</td>
                                        <td>{{ quiz_result.question.text }}</td>
                                        <td>{{ quiz_result.submitted_answer.text }}</td>
                                        <td>{{ quiz_result.is_correct }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </main>
{% endblock %}
